{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </div>
        <div class="columns is-mobile is-multiline is-capitalized">
            <div class="column is-three-quarters">
                <p></p>
                <ul>
                    {{ range .Data.Terms.Alphabetical }}
                    {{ $pageCount := len .Pages }}
                    <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ $pageCount }}),
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}
