<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
<link rel="canonical" href="{{ .Permalink }}" />
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ if and .Site.GoogleAnalytics  (not (in (string .Site.BaseURL) "localhost")) }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
<link rel="stylesheet" href="{{ absURL "css/bulma.min.css" }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
<link rel="stylesheet" href="{{ "css/arv.css" | relURL }}" />
<link rel="stylesheet" href="{{ absURL "js/jquery.min.js" }}">
</head>
