<head>
<meta charset="utf-8">
{{ if .Site.Params.google-site-verification }}
<meta name="googlesiteverification" content="{{ .Site.Params.googlesiteverification }}" />
{{ end }}
<meta http-equiv="Cache-Control" content="max-age=86400">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
<link rel="canonical" href="{{ .Permalink }}" />
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ if and .Site.GoogleAnalytics  (not (in (string .Site.BaseURL) "localhost")) }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
<!-- <link rel="stylesheet" href="{{ absURL "css/bulma.min.css" }}"> -->
<link rel="stylesheet" href="{{ absURL "css/arvstyles.css" }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
<link rel="stylesheet" href="{{ "css/arv.css" | relURL }}" />
<script defer type=text/javascript src="{{ absURL "js/jquery.min.js" }}" crossorigin="anonymous"></script>

<!-- layouts/partial/externaljs/math.html -->
{{ if or .Params.math .Site.Params.math }}
{{ partial "externaljs/math.html" . }}
{{ end }}

<!-- layouts/partial/externaljs/mermaid.html -->
{{ if or .Params.mermaid .Site.Params.mermaid }}
{{ partial "externaljs/mermaid.html" . }}
{{ end }}

<!-- layouts/partial/externaljs/jssequence.html -->
{{ if or .Params.jssequence .Site.Params.jssequence }}
{{ partial "externaljs/jssequence.html" . }}
{{ end }}


{{ if .Site.Params.google_fonts }}
{{ $fonts := slice }}
{{ range .Site.Params.google_fonts }}
{{ $family := replace (index (.)  0) " " "+" }}
{{ $weights := replace (index (.) 1) " " "" }}
{{ $string := print $family ":" $weights }}
{{ $fonts = $fonts | append $string }}
{{ end }}
{{ $url_part := (delimit $fonts "|") | safeHTMLAttr }}
<link {{ printf "href=\"//fonts.googleapis.com/css?family=%s\"" $url_part | safeHTMLAttr }} rel="stylesheet">
{{ else}}
<!-- specify a default in case custom config not present -->
<link href="//fonts.googleapis.com/css?family=Prompt:200,200i,300" rel="stylesheet">
{{ end }}
</head>
